container_commands:
  01_sqlSrvDriver:
    command: |
      curl -s https://packages.microsoft.com/config/rhel/7/prod.repo | sudo tee /etc/yum.repos.d/msprod.repo
      yum remove -y unixODBC* ;
      yum update ;
      yum install -y unixODBC-utf16 ;
      yum install -y unixODBC-utf16-devel ;

  02_collectstatic:
    command: "python manage.py collectstatic --noinput"

  03_migrate:
    command: "python manage.py migrate"
    leader_only: true

  04_createsu:
    command: "python manage.py createsu --noinput"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "fe_eb_site.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "fe_eb_site/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    postgresql95-devel: [] 
    gcc: []
    gcc-c++: []




