container_commands:
  # https://docs.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server
  01_sqlSrvDriver:
    command: |
      curl -s https://packages.microsoft.com/config/rhel/7/prod.repo | sudo tee /etc/yum.repos.d/msprod.repo
      yum remove -y unixODBC* ;
      yum update ;
      yum install -y unixODBC-utf16 ;
      yum install -y unixODBC-utf16-devel ;
      ACCEPT_EULA=Y yum install -y msodbcsql-13.1.1.0-1
  02_install_pyodbc:
    command: "/opt/python/run/venv/bin/pip install pyodbc==4.0.21"
  03_install_django_pyodbc_azure:
    command: "/opt/python/run/venv/bin/pip install django-pyodbc-azure==2.0.1.0"
  #04_collectstatic:
  #  command: "python manage.py collectstatic --noinput"
  #05_migrate:
  #  command: "python manage.py migrate"
  #  leader_only: true
  #06_createsu:
  #  command: "python manage.py createsu"
  #  leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "fe_eb_site.settings"
    PYTHONPATH: "$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "fe_eb_site/wsgi.py"
    StaticFiles: "/static/=www/static/"

packages:
  yum:
    gcc: []
    gcc-c++: []




